<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MProfile2"></activity>
        <activity android:name=".Cupdatecreditdcarddetails" />
        <activity android:name=".Cupdatecreditcarddetails" />
        <activity android:name=".Ccreditsuccessful" />
        <activity android:name=".Ccreditcarddetails" />
        <activity android:name=".Ccreditcard3" />
        <activity android:name=".Ccreditcard2" />
        <activity android:name=".Ccashsuccessful" />
        <activity android:name=".CcashDetails" />
        <activity android:name=".Pview_my_packages" />
        <activity android:name=".Pdata_package_details" />
        <activity android:name=".Pdata_packages" />
        <activity android:name=".Pfixed_package_details" />
        <activity android:name=".Pfixed_packages" />
        <activity android:name=".NReportDisplay" />
        <activity android:name=".NReport" />
        <activity android:name=".NShareDisplay" />
        <activity android:name=".NShare_Main" />
        <activity
            android:name=".MBill"
            android:parentActivityName=".MSelect" />
        <activity android:name=".CCredit_card" />
        <activity
            android:name=".MProfile"
            android:parentActivityName=".MSelect" />
        <activity
            android:name=".MEditProfile"
            android:parentActivityName=".MProfile" />
        <activity android:name=".NShare_Data" />
        <activity android:name=".PAdd_Data" />
        <activity
            android:name=".MSelect"
            android:parentActivityName=".MLogin" />
        <activity
            android:name=".MRegister"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MLogin"
            android:parentActivityName=".MRegister" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>